<% layout('/layouts/boilerplate') -%>

  <body>


    <div class="row">
      <div class="col-8 offset-2">

        <h3 class="mt-2 mt-md-1  "> Edit to current listing</h3>

        <form class="needs-validation" action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input required id="title" name="listing[title]" type="text" class="form-control"
              value="<%= listing.title %>" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required id="description" class="form-control"
              name="listing[description]"><%= listing.description %></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>


          <div class="mb-3">
            <label for=" image" class="form-label">Image</label>
            <input id="image" name="listing[image]" type="text" class="form-control"
              value="<%= listing.image %>" />
          </div>

          <div class="row ">
            <div class="mb-3 col-md-4 ">
              <label for="price" class="form-label">Price</label>
              <input required id="price" class="form-control" name="listing[price]" type="number"
                value="<%= listing.price %>" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please fill it in.</div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input required id="country" class="form-control" name="listing[country]" type="text"
                value="<%= listing.country %>" />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please fill it in.</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required id="location" class="form-control" name="listing[location]" type="text"
              value="<%= listing.location %>" />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please fill it in.</div>
          </div>

          <button class="btn edit-btn btn-dark mt-2 mb-5 mt-md-0 mb-md-0">Edit</button>

        </form>
      </div>
    </div>
  </body>