<% layout('/layouts/boilerplate') -%>

  <div class="row mt-3">
    <div class="col-8 offset-md-2">
      <h3>
        <%= listing.title %>
      </h3>
    </div>

    <div class="card col-12 col-md-8 offset-md-2">
      <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
      <div class="card-body">
        <p class="card-text">
          <%= listing.description %> <br>
            <b> &#8377;</b>
            <%= listing.price%> / night <br>
              <%= listing.location %><b>,</b>
                <%= listing.country %>
        </p>
      </div>
    </div>

    <br>

    <div class="btns ">
      <a class="btn  show-both-btn btn-dark col-1 offset-md-2 edit-btn" href="/listings/<%=listing._id %>/edit">Edit</a>
      <br /><br />
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <Button class="btn btn-dark show-both-btn offset-md-2">delete</Button>
      </form>
    </div>



    <div class=" col-8 offset-md-2 mb-3 mt-3">
      <hr>
      <h4>Leave a Review</h4>
      <form action="">

        <div class="mb-3 mt-3">
          <label for="customRange4" class="form-label">Rating</label>
          <br>
          <input type="range" class="form-range" min="0" max="50" value="0" id="customRange4">
          <br>
          <output for="customRange4" id="rangeValue" aria-hidden="true"></output>
        </div>

        <div class="mb-3 ">
          <label for="comment" class="form-label">Comment</label>
          <textarea id="comment" placeholder="Please leave your Comment" class="form-control" name="review[comment]"
            id="commnet" rows="3"></textarea>
        </div>

        <button class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>